.card{
    display: flex;
    height: 200px;
}

.image-list {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    background-image: url('/public/image-default.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-list{
    width: 200%;
}