.blogPagination{
    width: 70%;
    margin: auto;
}

.pagination{
    margin: auto;
}

.titoloBlogPage{
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: var(--quintocolore);
}