@import "../../styles/common.css";

.appbar{
    background-color: var(--secondocolore) !important;
}

a{
    color: var(--quintocolore);
    padding: 0 10px;
    font-weight: var(--spessorefont-bold);
}

.iconButton{
    color: var(--quintocolore) !important;
}