.accordion{
    width: 70%;
    margin: auto;
}

/* Stili per l'accordo */
.accordion-component {
    background-color: var(--secondocolore) !important;
    color: var(--quintocolore) !important;
}

/* Stili per l'intestazione dell'accordo */
.accordion-summary {
    background-color: var(--secondocolore) !important;
    color: var(--quintocolore) !important;
}

/* Stili per l'icona di espansione */
.accordion-icon {
    color: var(--quintocolore) !important;
}