.accordion{
    width: 70%;
    margin: auto;
}

/* Stili per l'accordo */
.accordion-component {
    background-color: var(--secondocolore) !important;
    color: var(--quintocolore) !important;
}

/* Stili per l'intestazione dell'accordo */
.accordion-summary {
    background-color: var(--secondocolore) !important;
    color: var(--quintocolore) !important;
}

/* Stili per l'icona di espansione */
.accordion-icon {
    color: var(--quintocolore) !important;
}

.whatsapp{
    background-color: #25D366 !important;
    color: white !important;
}

.facebook{
    background-color: #1877F2 !important;
    color: white !important;
}

.telegram{
    background-color: #0088CC !important;
    color: white !important;
}